<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="27093CharpentierCdric.Weedom" Publisher="CN=670A3AA2-8CA7-4EBE-BD52-1616B55B983E" Version="1.6.2.2" />
  <mp:PhoneIdentity PhoneProductId="bbeba7ad-936e-4831-997f-b9b4563c8686" PhonePublisherId="0362e080-85bf-403e-8812-a7e5c00f5185" />
  <Properties>
    <DisplayName>Weedom</DisplayName>
    <PublisherDisplayName>cedric</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="xbbeba7ady936ey4831y997fyb9b4563c8686x" Executable="AGHost.exe" EntryPoint="MainPage.xaml">
      <m3:VisualElements DisplayName="Weedom" Square150x150Logo="Assets\SquareTile150x150.png" Square44x44Logo="Assets\Logo.png" Description="Weedom, interface de la box jeedom" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <m3:DefaultTile Square71x71Logo="Assets\SquareTile71x71.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\Splashscreen.png" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="AgHost.BackgroundTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
            <Task Type="pushNotification" />
            <m2:Task Type="location" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
  <Capabilities>
    <DeviceCapability Name="location" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>